{% extends 'base.html.twig' %}

{% block title %}Sitemap{% endblock %}

{% block content %}
    <div id="content" class="container_12">

        <div id="sitemap" class="s_info_page grid_12">

            <div class="grid_4 alpha">
                <h3><a class="s_secondary_color" href="#">Electronics</a></h3>
                <ul class="s_list_1">
                    <li><a href="#">Digital Cameras</a></li>
                    <li><a href="#">Home Audio</a></li>
                    <li><a href="#">Home Cinema</a></li>
                    <li><a href="#">Cell Phones</a></li>
                    <li><a href="#">MP3 Players</a></li>
                    <li><a href="#">Car-Audio</a></li>
                </ul>
                <h3><a class="s_secondary_color" href="#">Computers</a></h3>
                <ul class="s_list_1">
                    <li><a href="#">Desktops</a></li>
                    <li><a href="#">Laptops</a></li>
                    <li><a href="#">Monitors</a></li>
                    <li><a href="#">Components</a></li>
                    <li><a href="#">Software</a></li>
                </ul>
                <h3><a class="s_secondary_color" href="#">Clothing</a></h3>
                <ul class="s_list_1">
                    <li><a href="#">Women's Clothing</a></li>
                    <li><a href="#">Men's Clothing</a></li>
                    <li><a href="#">Boys</a></li>
                    <li><a href="#">Girls</a></li>
                    <li><a href="#">Infants and toddlers</a></li>
                </ul>
            </div>

            <div class="grid_4">
                <h3><a class="s_secondary_color" href="#">Shoes</a></h3>
                <ul class="s_list_1">
                    <li><a href="#">Women's Shoes</a></li>
                    <li><a href="#">Men's Shoes</a></li>
                    <li><a href="#">Kids' Shoes</a></li>
                    <li><a href="#">Sportswear</a></li>
                </ul>
                <h3><a class="s_secondary_color" href="#">Gifts</a></h3>
                <ul class="s_list_1">
                    <li><a href="#">Perfumes</a></li>
                    <li><a href="#">Spirits and Beers</a></li>
                    <li><a href="#">Wines</a></li>
                    <li><a href="#">Flowers</a></li>
                    <li><a href="#">Chocolates and sweets</a></li>
                    <li><a href="#">Toys and Games</a></li>
                    <li><a href="#">Pets</a></li>
                </ul>
                <h3><a class="s_secondary_color" href="#">At home</a></h3>
                <ul class="s_list_1">
                    <li><a href="#">Furniture</a></li>
                    <li><a href="#">Garden</a></li>
                    <li><a href="#">Appliances</a></li>
                    <li><a href="#">Pet Supplies</a></li>
                    <li><a href="#">Tools and Accessories</a></li>
                    <li><a href="#">Lighting</a></li>
                    <li><a href="#">Food and Drink</a></li>
                </ul>
            </div>

            <div class="grid_4 omega">
                <h3><a class="s_secondary_color" href="#">Health</a></h3>
                <ul class="s_list_1">
                    <li><a href="#">Suplements</a></li>
                    <li><a href="#">Cosmetics</a></li>
                    <li><a href="#">Personal Care</a></li>
                </ul>
                <h3><a class="s_secondary_color" href="#">My Account</a></h3>
                <ul class="s_list_1">
                    <li><a href="#">Account Information</a></li>
                    <li><a href="#">Password</a></li>
                    <li><a href="#">Address Book</a></li>
                    <li><a href="#">Order History</a></li>
                    <li><a href="#">Downloads</a></li>
                </ul>
                <h3 class="s_secondary_color">Information</h3>
                <ul class="s_list_1">
                    <li><a href="#">About Shoppica</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
                <h3><a class="s_secondary_color" href="#">Special Offers</a></h3>
                <h3><a class="s_secondary_color" href="#">Search</a></h3>
            </div>

        </div>

    </div>
{% endblock %}

