{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block content %}
    <div id="content" class="container_12">

        <div id="order_history" class="grid_12">

            <div class="s_listing s_grid_view clearfix">
                <div class="grid_4">
                    <div class="s_order clearfix">
                        <p class="s_id"><span class="s_999">Order ID:</span> <span class="s_main_color">#6</span></p>

                        <p class="s_status s_secondary_color">Complete</p>
                        <span class="clear"></span>
                        <dl class="clearfix">
                            <dt>Date Added::</dt>
                            <dd>07/04/2011</dd>
                            <dt>Customer::</dt>
                            <dd>Pinko Pinkov</dd>

                            <dt>Products::</dt>
                            <dd>1</dd>
                        </dl>
                        <span class="clear border_eee"></span>
                        <br />
                        <p class="s_total left">2,289.69<span class="s_currency s_after"> eur</span></p>

                        <a href="invoice.html" class="s_main_color right"><strong>View</strong></a>
                    </div>
                </div>
                <div class="grid_4">
                    <div class="s_order clearfix">
                        <p class="s_id"><span class="s_999">Order ID:</span> <span class="s_main_color">#5</span></p>
                        <p class="s_status s_secondary_color">Shipped</p>

                        <span class="clear"></span>
                        <dl class="clearfix">
                            <dt>Date Added::</dt>
                            <dd>07/04/2011</dd>
                            <dt>Customer::</dt>
                            <dd>Pinko Pinkov</dd>
                            <dt>Products::</dt>

                            <dd>2</dd>
                        </dl>
                        <span class="clear border_eee"></span>
                        <br />
                        <p class="s_total left">2,861.54<span class="s_currency s_after"> eur</span></p>
                        <a href="invoice.html" class="s_main_color right"><strong>View</strong></a>

                    </div>
                </div>
                <div class="grid_4">
                    <div class="s_order clearfix">
                        <p class="s_id"><span class="s_999">Order ID:</span> <span class="s_main_color">#4</span></p>
                        <p class="s_status s_secondary_color">Refunded</p>
                        <span class="clear"></span>

                        <dl class="clearfix">
                            <dt>Date Added::</dt>
                            <dd>07/04/2011</dd>
                            <dt>Customer::</dt>
                            <dd>Pinko Pinkov</dd>
                            <dt>Products::</dt>

                            <dd>3</dd>
                        </dl>
                        <span class="clear border_eee"></span>
                        <br />
                        <p class="s_total left"><span class="s_currency s_before">$</span>5,247.92</p>
                        <a href="invoice.html" class="s_main_color right"><strong>View</strong></a>
                    </div>

                </div>
                <div class="grid_4">
                    <div class="s_order clearfix">
                        <p class="s_id"><span class="s_999">Order ID:</span> <span class="s_main_color">#3</span></p>
                        <p class="s_status s_secondary_color">Canceled</p>
                        <span class="clear"></span>
                        <dl class="clearfix">

                            <dt>Date Added::</dt>
                            <dd>07/04/2011</dd>
                            <dt>Customer::</dt>
                            <dd>Pinko Pinkov</dd>
                            <dt>Products::</dt>
                            <dd>1</dd>

                        </dl>
                        <span class="clear border_eee"></span>
                        <br />
                        <p class="s_total left"><span class="s_currency s_before">$</span>133.93</p>
                        <a href="invoice.html" class="s_main_color right"><strong>View</strong></a>
                    </div>
                </div>

                <div class="grid_4">
                    <div class="s_order clearfix">
                        <p class="s_id"><span class="s_999">Order ID:</span> <span class="s_main_color">#2</span></p>
                        <p class="s_status s_secondary_color">Canceled</p>
                        <span class="clear"></span>
                        <dl class="clearfix">
                            <dt>Date Added::</dt>

                            <dd>07/04/2011</dd>
                            <dt>Customer::</dt>
                            <dd>Pinko Pinkov</dd>
                            <dt>Products::</dt>
                            <dd>2</dd>
                        </dl>

                        <span class="clear border_eee"></span>
                        <br />
                        <p class="s_total left"><span class="s_currency s_before">$</span>460.57</p>
                        <a href="invoice.html" class="s_main_color right"><strong>View</strong></a>
                    </div>
                </div>
                <div class="grid_4">

                    <div class="s_order clearfix">
                        <p class="s_id"><span class="s_999">Order ID:</span> <span class="s_main_color">#1</span></p>
                        <p class="s_status s_secondary_color">Pending</p>
                        <span class="clear"></span>
                        <dl class="clearfix">
                            <dt>Date Added::</dt>

                            <dd>06/04/2011</dd>
                            <dt>Customer::</dt>
                            <dd>Pinko Pinkov</dd>
                            <dt>Products::</dt>
                            <dd>1</dd>
                        </dl>

                        <span class="clear border_eee"></span>
                        <br />
                        <p class="s_total left"><span class="s_currency s_before">$</span>1,633.46</p>
                        <a href="invoice.html" class="s_main_color right"><strong>View</strong></a>
                    </div>
                </div>
            </div>

            <a href="invoice.html" class="s_button_1 s_main_color_bgr"><span class="s_text">Continue</span></a>

            <div class="clear"></div>
            <br />

            <br />

        </div>

    </div>
{% endblock %}

